@page
@model IndexModel
@{
    ViewData["Title"] = "Expense";
}

<div class="grid grid-cols-3 gap-4">
    @foreach(var Expense in Model.Expenses) {
        <div class="rounded-xl bg-white shadow p-4">
            <h2 class="text-md font-medium">Expense for @Expense.Username</h2>
    
            <p class="text-3xl font-bold">$@Expense.Amount</p>
    
            <p class="text-sm">@Expense.Description</p>
        </div>
    }
</div>